<h2>Create Movie</h2>
<form action="/movies/create" method="POST">
  <label for="title-input">Movie Title</label>
  <input id="title-input" type="text" name="title" placeholder="Title"/>
  
  <label for="genre-input">Movie Genre</label>
  <input id="genre-input" type="text" name="genre" placeholder="Genre"/>
  
  <label for="plot-input">Movie Plot</label>
  <input id="plot-input" type="text" name="plot" placeholder="Plot"/>
  
  <button>Submit Movie</button>
</form>